beautifulsoup4==4.11.1
biopython==1.79
boto3==1.24.17
botocore==1.27.17
bs4==0.0.1
certifi==2022.6.15
charset-normalizer==2.0.12
docopt==0.6.2
idna==3.3
jmespath==1.0.1
lxml==4.6.5
numpy==1.23.0
progressbar2==2.7.3
python-dateutil==2.8.2
requests==2.28.0
s3transfer==0.6.0
six==1.16.0
soupsieve==2.3.2.post1
srapy==0.1.19
urllib3==1.26.9
